# SQL
---

```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition
;
```

## 特殊语句
- COUNT()
- DISTINCT: 必须作为第一个字段
- LIMIT: 从第几个开始  OFFSET
```sql
SELECT * FROM FilmLocations LIMIT 15 OFFSET 10;
```
- INSERT
```SQL
INSERT INTO table_name (column1, column2, ... )
VALUES (value1, value2, ... )
;
```
- UPDATE
```SQL
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition
;
```
- DELETE 
```SQL
DELETE FROM table_name
WHERE condition
;
```

## DDL
- CREATE
```SQL
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
);
```
- ALTER
```SQL
ALTER TABLE table_name
ADD COLUMN column_name data_type column_constraint;
ALTER TABLE table_name
DROP COLUMN column_name;
ALTER TABLE table_name
ALTER COLUMN column_name SET DATA TYPE data_type;
ALTER TABLE table_name
RENAME COLUMN current_column_name TO new_column_name;
```
- TRUNCATE
```SQL
TRUNCATE TABLE table_name IMMEDIATE;
```
- DROP
```SQL
DROP TABLE table_name;
```
- Nested SELECT
```sql
SELECT column_name [, column_name ]
FROM table1 [, table2 ]
WHERE column_name OPERATOR
   (SELECT column_name [, column_name ]
   FROM table1 [, table2 ]
   WHERE condition);
```

# 注意点
- HAVING 不同通过别名筛选
    ODER BY 可以通过别名筛选
-  CAST("Column_Name" as DOUBLE) 转换数据类型